@tailwind base;
@tailwind components;
@tailwind utilities;

.NavText {
  color: #353333;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
}
.navstyle {
    border-bottom: solid #353333 1px
};
html {
  font-family: var(--font-Questrial);
}
nav {
  font-family: var(--font-Questrial);
}